PORT=5003
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/appointment_service

CORS_ORIGIN=http://localhost:3000

JWT_SECRET=your_super_secret_key_here
INTERNAL_API_SECRET=your-strong-secret-here

# Service URLs
DOCTOR_SERVICE_URL=http://localhost:5002
TELEMEDICINE_SERVICE_URL=http://localhost:5005
