PORT=5004
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/payment_service

CORS_ORIGIN=http://localhost:3000

JWT_SECRET=your_super_secret_key_here

INTERNAL_API_SECRET=your-strong-secret-here

# Stripe Sandbox Keys
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Service URLs
APPOINTMENT_SERVICE_URL=http://localhost:5003